
body {
    font-family: Arial, sans-serif;
    background-color: #f0f8ff;
    margin:0px;
    padding:0px;
    
}

.container {
    max-width: 900px;
    margin:auto;
}

h3 {
    color: #333;
    margin-bottom: 25px;
    text-align:center;
    font-size: 2rem;
    font-weight: 700;
    text-transform: uppercase;
}

.card {
    border: none;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    background-color: #fff;
    padding:20px;
}

.card-body {
    padding: 20px;
}
.d-flex{
    margin-bottom:15px;
}

#time-left{
    font-size: 1.2rem;
    font-weight: bold;
    color:#dc3545;
}
.form-check {
    margin-bottom: 15px;
}
.form-check-input{
    margin-top: 0.3rem;
    position: relative;
    top: 0px;
    left: 0px;
}
.form-check-label{
    position: relative;
    left: 0.25rem;
}

.btn{
    padding:12px 25px;
    font-size: 1.1rem;
    border-radius: 30px;
    transition: all 0.3s ease;
}


.btn-outline-primary {
    background-color: #ffffff;
    border:2px solid  #007bff;
    color: #007fff;
}

.btn-outline-primary:hover {
    background-color: #ffffff;
    border:2px solid #007fff;
    color: #007bff;
}

.btn-success {
    background-color: #28a745;
    border-color: #28a745;
    color: #fff;
}

.btn-success:hover {
    background-color: #1e7e34;
    border-color: #1e7e34;
}

